<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIURL</key>
	<string>https://archive.org/</string>
	<key>JSPREFIXOLD</key>
	<string>https://s3.amazonaws.com/ia-atv/</string>
	<key>JSPREFIX</key>
	<string>https://archive.org/download/ia-atv/</string>
	<key>SIMULATORJSPREFIX</key>
	<string>http://localhost:9001/</string>
</dict>
</plist>
